/* LAYOUTS */


/*CONTAINER*/

.container {display: block; 
			width: 88%;
			max-width: 1400px;
			margin: 0 auto;}

.section-padding {padding: 84px 0px;}

/*ROWS*/

.row {display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	margin: 0 -20px;}

.row-justify-end {justify-content: flex-end;} 

.row-justify-center {justify-content: center;}

.row-justify-between {justify-content: space-between;} 

.row-align-end {align-content: flex-end;}

.row-align-center {align-content: center;}


	/* COLUMNS */ 

.col {flex-grow: 1; 
	flex-shrink: 1; 
	flex-basis: 0%;
	padding: 0 20px;}

.col-lg-1 {max-width: 8.33%;}

.col-lg-2 {max-width: 16.67%;}

.col-lg-3 {max-width: 25%;}

.col-lg-4 {max-width: 33.33%;}

.col-lg-5 {max-width: 41.67%;}

.col-lg-6 {max-width: 50%;}

.col-lg-7 {max-width: 58.33%;}

.col-lg-8 {max-width: 66.67%;}

.col-lg-9 {max-width: 75%;}

.col-lg-10 {max-width: 83.33%;}

.col-lg-11 {max-width: 91.67%;}

.col-lg-12 {max-width: 100%;}



