/* -- STYLE SHEET -- */

/*GLOBAL STYLES */

body {font-family: "Afacad", sans-serif; color: #403F2B;
	margin: 0px;}

section {padding: 86px 84px}


/*BACKGROUND COLOURS*/

.background-olive {background-color:#81754B;} /*light green*/
.background-green {background-color:#403F2B;} /*dark green*/
.background-cream {background-color: #F7F1E1;} /*soft beige*/ 
.background-gold {background-color: #B4833E;} /*dark yellow*/
.background-beige {background-color: #E3D8C2;} /*dark beige*/


/*FONTS*/

h1 {font-family: "Young Serif";
	font-size: 64px;    /*heading in dark green*/
	color:#403F2B;
	text-decoration: none;}

	.alternative-h1 {font-family: "Young Serif";
					font-size: 64px;	/*heading but in cream*/
					color:#F7F1E1;
					text-decoration: none;}

	.logo {font-family: "Young Serif";
		   font-size:36px;
	       color: #F7F1E1;
	   		text-decoration: none;}

p {font-size: 30px;
	color: #403F2B;
	text-decoration: none;}

	.body-beige {font-size: 30px; 
				color: #F7F1E1;
				text-decoration: none;}

	.body-bold {font-weight: 400;
  				font-style: bold;} 

  	.footer-header {font-family: "Young Serif";
  					font-size:32px; 
  					color:#403F2B;
  					margin: 35px;}

  	.footer-body {font-size: 24px;
  					color: #403F2B;
  					text-decoration: none;
  					margin: 35px;}


 /*TEXT LAYOUT */

.text-align-center {text-align: center;}

ul {list-style-type:disc;}

li {font-size: 30px;}

 /*NAVIGATION*/

 header {background-color:#81754B;
 		padding: 16px 4%;
 		width: 100%;
 		margin: none;
 		box-sizing: border-box;}

 .nav-wrap {display: flex;
 			flex-direction: row;
 			justify-content: space-between;
 			align-items: center;}



 /*BUTTONS */

 .button {display: inline-block;
 		color: #403F2B;
 		padding: 10px 18px;
 		background-color: #F7F1E1; 
 		text-decoration: none;
 		border-radius: 36px;
 		margin-top: 0px;
 		margin-right: 46px;
 		margin-bottom: 0px;
 		margin-left: 46px;
 		width: 59 px;
 		height: 183 px;}

 .button:hover {background-color: #B4833E}

 .email-button {
 		font-size : 40px;
 		color: #81754B;
 		padding: 10px 18px;
 		background-color: #E3D8C2; 
 		text-decoration: none;
 		border-radius: 50px;
 		margin-top: 0px;
 		margin-right: 46px;
 		margin-bottom: 0px;
 		margin-left: 46px;
 		width: 438 px;}

 .sign-up {
 		font-size : 40px;
 		text-align: center;
 		color:#F7F1E1;
 		padding: 10px 18px;
 		background-color:#403F2B; 
 		text-decoration: none;
 		border-radius: 50px;
 		
 		min-width: 438 px;
 		min-height: 93 px;}


 /*IMAGE STYLES */

 img {max-width: 100%;
 	height: auto;} 

.image-style-hero {width:100% ;
					height: 489px;
					object-fit: cover;
					margin: none; 
					padding: none;
					border: none;} 

.card-image {width:323px; 
			height:323px;
			object-fit: cover;
			border-radius: 162px 162px 0px 0px;}

.card-image-large {width: 438px;
					height: 427px;
					border-radius: 214px 214px 0px 0px;
					object-fit: cover;}

.long-card-image {width: 323px;
				height:933px;
				object-fit: cover;
				border-radius: 162px 162px 0px 0px;
				float: left;
				margin-left: 100px;}

.box-images {width: 350px;
			height: 350px;
			object-fit: cover;
			border-radius: 36px;
			margin: 40px; 
			align-items: right;}

.box-images-firing {width: 323px;
					height: 323px;
					object-fit: cover;
					border-radius: 50px;
					margin: 10px;}



 /*INDIVIDUAL STYLES */

.position-relative {position: relative;}

.footer-box-small {width: 483px;
					height:339px;
					border-radius: 50px;
					background-color: #F7F1E1;
					border: 42px;}

.footer-box-large {width: 780px;
					height: 339px;
					border-radius: 50px;
					background-color: #F7F1E1;
					border: 42px;}

.long-box {width: 323px; 
			height: 654px;
			border-radius: 50px; 
			background-color: #B4833E;
			padding: 20px; }

.about-box {width: 100%;
			height: 581px;
			border-radius: 50px;
			background-color: #81754B;}



























